<!DOCTYPE html>
<html>
    <body>
        <h3>
            Phase 1
        </h3>
        <p>The First Phase of creating my website was to create a prototype on figma. this prototype is indicated in the photo above</p>
        <br />
        <h3>Phase 2</h3>
        <p>I then began determining which tools I would like to use for the job. I decided on the following:</p>
        <ol>
            <li>VueJs</li>
            <li>Vuetify</li>
            <li>Directus*</li>
            <li>Docker*</li>
            <li>Postgresql*</li>
            <li>Raspberry Pi*</li>
        </ol>
        <br />
        <p>the tools with the asterisk have been deprecated because I found a quicker way to retrieve content. I am now just pulling content directly from a json object.</p>
        <br/>
        <p>The reason for the change was that the maintenance of running my own backend required more time than I had to spend and using static content will be easier to maintain for the small scale of this website.</p>
        <br />
        <h3>Blog Post Creation</h3>
        <p>The hardest part for me has actually been spending the time writing content to put on the website.</p>
    </body>
</html>