<!DOCTYPE html>
<html>
    <body>
        <h3>
            Challenge Attended 2022
        </h3>
        <p>The first time I attended this challenge was in 2022.</p>
        <p>During the first event me and my group learned a lot and were able to get quite a bit done in 24 hours</p>
        <p>We kind of split our team in half and part of us worked on an android app and the other worked on the desktop app</p>
        <p>The goal was to track the space station across the sky in realtime. We were able to, using javascript three.js library, display earth and get a linear orbit display around the planet</p>
        <p>We were also able to get a pretty sophistaced web UI working as well</p>
        <p>The android app was able to display the space station in a rather klunk orbit</p>
        <br />
        <h3>Challenge Attended 2023</h3>
        <p>The second time I was on a team that was working on developing a Scientific Git Repository</p>
        <p>We got most of the UI working. It was very similar to github because thats what we modelled it after</p>
        <p>One of the special ideas we werent quite able to get to was some type image swipe mechanig similar to Tinder but for science projects.</p>
    </body>
</html>